---
import { gallery } from '../../libs/stores';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
	const { blobs } = await gallery.list();
	return blobs.map(({ key }) => ({ params: { key } }));
}

const { key } = Astro.params;
---

<Image src=`../gallery/asd.png` alt="descriptive text" width="200" height="150" />

<h1>{key}</h1>
