:root {
	color-scheme: light;
	--accent: #0F0F0F;
	--on-accent: #FFFFFF;
	--bg: #FFFFFF;
	--on-bg: #0F0F0F;
	--on-bg-alt: #878787;
	--bg-blurred: #FFFFFFE6;
	--outline: #E7E7E7;
	--error: #BA1A1A;
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
		--accent: #FFFFFF;
		--on-accent: #0F0F0F;
		--bg: #0F0F0F;
		--on-bg: #E7E7E7;
		--on-bg-alt: #808080;
		--bg-blurred: #0F0F0FE6;
		--outline: #262626;
		--error: #FFB4AB;
	}
}