---
export const prerender = false;
import { user } from '../libs/stores';
import Fullscreen from '../layouts/Fullscreen.astro';
import TextArea from '@components/TextArea.astro';
import TextField from '@components/TextField.astro';
import FAB from '@components/FAB.astro';
import CommonButton from '@components/CommonButton.astro';
import Dialog from '@components/Dialog.astro';

let error;
const session = Astro.cookies.get('session');

if (!session) {
	return Astro.redirect('/login');
} else {
	const token = await user.get('session');

	if (session.value !== token) {
		Astro.cookies.delete('session');
		return Astro.redirect('/login');
	}
}

if (Astro.request.method === 'POST') {
	const formData = await Astro.request.formData();
}

let profile = {
	username: 'John Doe',
	job: 'Photographer',
	description:
		'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium consequat risus, sit amet vestibulum velit fermentum eu. Sed vel eros nec ante interdum convallis.',
	action_button_label: 'Click Here',
	action_button_link: '#',
};

const uploadDialog = Astro.url.searchParams.has('upload-photo');
---

{uploadDialog && <Dialog href="config">1</Dialog>}

<Fullscreen title="Configuration">
	<form method="post">
		<div class="card">
			<TextField label="Username" name="username" value={profile?.username} />
			<TextField label="Job" name="job" value={profile?.job} />
			<TextArea label="description" name="description" value={profile?.description} />
		</div>
		<div class="card">
			<h2>Call to action</h2>
			<TextField
				label="Button label"
				name="action-button-label"
				value={profile?.action_button_label ?? 'Call to action'}
			/>
			<TextField
				label="Button link"
				name="action-button-link"
				value={profile?.action_button_link ?? 'Photographer'}
			/>
			<CommonButton>Save</CommonButton>
		</div>
	</form>
	<FAB href="?upload-photo" icon="tabler:photo-plus" />
</Fullscreen>

<style>
	h1 {
		font: var(--title-large);
	}

	.centered-container {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		width: 100%;
	}

	.card {
		background: #171717;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		gap: 16px;
		max-width: 480px;
		padding: 24px;
		width: 100%;
	}
</style>
