---
import { Picture } from 'astro:assets';
import { generatePhotos } from '../libs/build-photos.ts';

import App from '../layouts/App.astro';
import Image from 'astro/components/Image.astro';
import.meta.env.PROD && (await generatePhotos());

const photos = await Astro.glob('src/gallery/*.{png,jpg,jpeg,gif,avif,webp}');
---

<App title="Welcome to Astro.">
	<!-- <Image src={photos[0].default} format="blurhash" alt="Description of the image" /> -->
	<main>
		<div class="photo-grid">
			{
				photos.map(img => (
					<a href={img.default}>
						<Picture
							class="photo"
							src={img.default}
							alt="alt"
							formats={['avif', 'webp']}
							sizes={`(max-width: 360px) 1px, (max-width: 720px) 480px`}
							widths={[1, 480, img.width]}
						/>
					</a>
				))
			}
		</div>
	</main>
	<footer></footer>
</App>

<style>
	.photo-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 10px;
	}

	.photo {
		width: 100%;
		height: auto;
		display: block;
		border-radius: 8px;

		/* object-fit: cover;
		width: 100%;
		aspect-ratio: 1 / 1; */
	}
</style>
