---
export const prerender = false;

import { gallery } from '../libs/stores';
import App from '../layouts/App.astro';
import Thumbnail from '@components/Thumbnail.astro';

const { blobs } = await gallery.list();
---

<App title="Welcome to Astro.">
	<div class="photo-grid">
		{blobs.map(({ key }) => <Thumbnail {key} />)}
	</div>
</App>

<style>
	.photo-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 10px;
	}
</style>
