---
import { getStore } from '@netlify/blobs';
import { gallery } from '../libs/stores';
import App from '../layouts/App.astro';
import Photo from '@components/Photo.astro';

const { blobs } = await gallery.list();

let photos: any[];

try {
	photos = (await Astro.glob('/src/gallery/*.{jpg,jpeg,png,gif,webp,avif}')) ?? [];
} catch {
	photos = [];
}

// let gallery = import.meta.glob('/src/gallery/*.{jpg,jpeg,png,gif,webp,avif}');
---

<App title="Welcome to Astro.">
	<!-- <Image src={photos[0].default} format="blurhash" alt="Description of the image" /> -->
	<main>
		<div class="photo-grid">
			{photos.map(img => <Photo img={img.default} />)}
		</div>
	</main>
	<footer></footer>
</App>

<style>
	.photo-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		gap: 10px;
	}
</style>
