---
export const prerender = false;
import { user } from '../libs/stores';
import TextField from '@components/TextField.astro';
import Fullscreen from '../layouts/Fullscreen.astro';
import FAB from '@components/FAB.astro';

let logged = false;

if (Astro.request.method === 'POST') {
	const formData = await Astro.request.formData();
	const password = formData.get('password') as string;
	if (password === import.meta.env.PASSWORD) {
		const uuid = crypto.randomUUID();
		user.set('session', uuid);
		Astro.cookies.set('session', uuid);
	}
}

if (Astro.cookies.has('session')) {
	const session = Astro.cookies.get('session');
	console.log(session?.value);
	console.log(await user.get('session'));
	session?.value === (await user.get('session'))
		? (logged = true)
		: Astro.cookies.delete('session');
}
---

{
	logged ? (
		<Fullscreen title="Welcome to Astro.">
			<section class="fab-area">
				<FAB href="/upload" icon="tabler:photo-plus" />
			</section>
		</Fullscreen>
	) : (
		<Fullscreen title="Welcome to Astro.">
			<section class="centered-container">
				<form class="card" method="post">
					<h1>Settings</h1>
					<TextField label="Password" name="password" required />
					<button>Submit</button>
				</form>
			</section>
		</Fullscreen>
	)
}

<style>
	h1 {
		font: var(--title-large);
		margin-bottom: 16px;
	}
	.centered-container {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		width: 100%;
	}

	.card {
		background: #171717;
		border-radius: 12px;
		max-width: 480px;
		padding: 16px;
		width: 100%;
	}
</style>
