---
import { Icon } from 'astro-icon/components';

interface Props {
	class?: string;
	href?: string;
	icon: string;
	iconAttr?: object;
}

const { icon, iconAttr, ...props } = Astro.props;
---

<a class="fab target ripple" {...props}>
	<Icon name={icon} {...iconAttr} width={24} height={24} />
</a>

<style lang="scss">
	.fab {
		align-items: center;
		background: var(--accent);
		border-radius: var(--corner-999);
		bottom: 16px;
		box-shadow: var(--elevation, none); /* !!! change after */
		color: var(--on-accent);
		cursor: pointer;
		display: inline-flex;
		height: 56px;
		justify-content: center;
		position: fixed;
		width: 56px;
		right: 16px;
	}
</style>
