---
import { Icon } from 'astro-icon/components';

interface Props {
	id?: string;
	href?: string;
	name?: string;
	value?: string;
	icon: string;
	iconAttr?: object;
	// onclick?: (...args: any) => unknown;
	type?: 'button' | 'reset' | 'submit';
	primary?: boolean;
	style?: any;
}

const { href, icon, iconAttr, primary, ...props } = Astro.props;

const El = href ? 'a' : 'button';
---

<El class="icon-button target" {href} {...props}>
	<span class:list={['container ripple', { primary }]}>
		<Icon name={icon} {...iconAttr} width={24} height={24} />
	</span>
</El>

<style>
	.icon-button {
		align-items: center;
		border-radius: var(--corner-999);
		color: var(--accent);
		display: inline-flex;
		height: 48px;
		justify-content: center;
		width: 48px;
	}

	.container {
		align-items: center;
		border-radius: var(--corner-999);
		display: flex;
		height: 40px;
		justify-content: center;
		width: 40px;
	}

	.primary {
		background: var(--accent);
		color: var(--on-accent);
	}
</style>
