---
import { Icon } from 'astro-icon/components';

interface Props {
	id?: string;
	href?: string;
	icon: string;
	iconAttr?: object;
	// onclick?: (...args: any) => unknown;
	type?: 'button' | 'reset' | 'submit';
}

const { href, icon, iconAttr, ...props } = Astro.props;

const El = href ? 'a' : 'button';
---

<El class="icon-button target" {href} {...props}>
	<span class="container ripple {visual}">
		<Icon name={icon} {...iconAttr} width={24} height={24} />
	</span>
</El>

<style>
	.icon-button {
		align-items: center;
		border-radius: var(--corner-full);
		color: #fff; /* change after */
		display: inline-flex;
		height: 48px;
		justify-content: center;
		width: 48px;
	}

	.container {
		align-items: center;
		border-radius: var(--corner-999);
		color: currentcolor;
		display: flex;
		height: 40px;
		justify-content: center;
		width: 40px;
	}
</style>
