---
import { Picture } from 'astro:assets';
import { gallery } from '../libs/stores';
import { photoList } from '../libs/helpers';

interface Props {
	key: string;
}

const { key } = Astro.props;
const { metadata } = (await gallery.getMetadata(key)) ?? {};
const image = photoList[`/src/gallery/${key}.${metadata?.ext}`]();

const { width } = await image.then(image => image.default);
---

<div class="frame">
	<Picture class="photo" src={image} alt="alt" formats={['avif', 'webp']} widths={[width]} />
</div>

<style>
	.frame {
		width: 100%;
		height: 100%;
	}

	.photo {
		width: 100%;
		height: 100%;
		object-fit: contain; /* Ensure the image is contained within its dimensions */
	}
</style>
