---
interface Props {
	errorText?: string;
	label: string;
	required?: boolean;
	name: string;
	value?: string;
}

const { errorText, label, required, ...props } = Astro.props;
---

<span class="label"> {label}{required && '*'} </span>
<label class="text-field">
	<input {...props} />
</label>
<div class="error-text">{errorText}</div>

<style lang="scss">
	.text-field {
		align-items: center;
		border-radius: 4px;
		box-shadow: inset 0 0 0 1px var(--accent, var(--outline));
		caret-color: var(--primary);
		display: flex;
		font: var(--body-large);
		height: 56px;
		padding: 0 12px;
		position: relative;
		transition: box-shadow 0.2s;
		width: 100%;

		&:hover {
			box-shadow: inset 0px 0px 0px 1px var(--on-surface);
		}

		&:focus-within,
		&:active {
			box-shadow: inset 0 0 0 3px var(--accent, var(--primary));
		}
	}

	input {
		cursor: text;
		height: 100%;
		left: 0;
		padding: 0 16px;
		position: absolute;
		top: 0;
		width: 100%;

		&::placeholder {
			color: transparent;
			user-select: none;
		}

		&:autofill,
		&:-webkit-autofill {
			background-clip: text;
			-webkit-text-fill-color: var(--on-surface);
		}
	}

	.label {
		color: var(--accent, var(--on-surface));
	}

	.supporting-text {
		color: var(--accent, var(--on-surface-variant));
		font: var(--body-small);
		margin: 4px 16px 0;
	}
</style>
