---
import { Picture } from 'astro:assets';
import { gallery } from '../libs/stores';
import { photoList } from '../libs/helpers';

interface Props {
	key: string;
}

const { key } = Astro.props;
const { metadata } = (await gallery.getMetadata(key)) ?? {};
const photoPath = `/src/gallery/${key}.${metadata?.ext}`;
---

<a href={key}>
	<Picture
		transition:persist
		class="photo"
		src={photoList[photoPath]()}
		alt="alt"
		formats={['avif', 'webp']}
		sizes={`(max-width: 360px) 1px, (max-width: 720px) 480px`}
		widths={[1, 480]}
	/>
</a>

<style>
	.photo {
		width: 100%;
		height: auto;
		display: block;
		border-radius: 8px;

		/* object-fit: cover;
		width: 100%;
		aspect-ratio: 1 / 1; */
	}
</style>
