---
import Root from '../layouts/Root.astro';
import TopAppBar from '@components/TopAppBar.astro';
import IconButton from '@components/IconButton.astro';
import { Image } from 'astro:assets';
import profile from '../gallery/profile.png';
import CommonButton from '@components/CommonButton.astro';
import FAB from '@components/FAB.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Root {title}>
	<div id="app">
		<aside class="sidebar">
			<Image class="profile" src={profile} alt="Astro logo" width="150" height="150" />
			<div class="name">Mr. Mittens</div>
			<div class="profession">Cat Photographer</div>
			<p class="description">
				I'm Mr. Mittens, the cat-tographer extraordinaire, with a knack for capturing feline grace
				and charm in every frame.
			</p>
			<CommonButton href="/contact">Contact</CommonButton>
		</aside>
		<div class="content">
			<TopAppBar>
				<section class="left-section">
					<img src="/favicon.svg" alt="Astro logo" width="40" height="40" />
					<h1 class="title">{title}</h1>
				</section>
				<IconButton href="/settings" icon="tabler:dots-vertical" />
			</TopAppBar>
			<main>
				<slot />
			</main>
			<section class="fab-area">
				<FAB href="/upload" icon="tabler:photo-plus" />
			</section>
			<footer>
				<small>&copy; 2022. All rights reserved.</small>
			</footer>
		</div>
	</div>
</Root>

<style lang="scss">
	main {
		padding: 16px;
	}

	.content {
		height: 100dvh;
		transition: padding 0.3s;
	}

	aside {
		align-items: center;
		display: flex;
		border-right: 1px inset #171717; /* !!! change after */
		flex-direction: column;
		height: 100%;
		padding: 32px 16px 16px;
		position: fixed;
		transform: translateX(-100%);
		transition: transform 0.3s;
		width: 300px;
	}

	.name {
		font: var(--headline-small);
		margin-top: 12px;
	}

	@media (min-width: 840px) {
		aside {
			transform: translateX(0);
		}

		.content {
			padding-left: 300px;
		}
	}

	.profile {
		border-radius: 50%;
	}

	.description {
		flex: 1;
		font: var(--body-large);
	}

	.left-section {
		display: flex;
		align-items: center;
	}

	.title {
		font: var(--title-large);
	}

	footer {
		align-items: center;
		border-top: solid 1px var(--outline-variant);
		display: flex;
		height: 72px;
		padding: 0 16px;
	}
</style>
