---
import Root from '../layouts/Root.astro';
import TopAppBar from '@components/TopAppBar.astro';
import IconButton from '@components/IconButton.astro';
import { Image } from 'astro:assets';
import profile from '../gallery/profile.png';
import CommonButton from '@components/CommonButton.astro';
import FAB from '@components/FAB.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<Root {title}>
	<div id="app">
		<TopAppBar>
			<section class="left-section">
				<img src="/favicon.svg" alt="Astro logo" width="40" height="40" />
				<h1 class="title">{title}</h1>
			</section>
			<IconButton href="/settings" icon="tabler:dots-vertical" />
		</TopAppBar>
		<div class="content">
			<aside class="sidebar">
				<div class="profile-card">
					<Image class="profile" src={profile} alt="Astro logo" width="150" height="150" />
					<div class="name">Mr. Mittens</div>
					<div class="profession">Cat Photographer</div>
					<p class="description">
						I'm Mr. Mittens, the cat-tographer extraordinaire, with a knack for capturing feline
						grace and charm in every frame.
					</p>
					<CommonButton href="/contact">Contact</CommonButton>
				</div>
			</aside>
			<main>
				<slot />
			</main>
			<section class="fab-area">
				<FAB href="#top" id="top" icon="tabler:arrow-up" />
			</section>
			<footer>
				<small>© {new Date().getFullYear()}. All rights reserved.</small>
			</footer>
		</div>
	</div>
</Root>

<script>
	window.addEventListener('scroll', () => {
		const topFab = document.querySelector('#top');

		window.scrollY === 0 ? topFab?.classList.add('hidden') : topFab?.classList.remove('hidden');
	});
</script>

<style>
	main {
		padding: 16px;
	}

	.content {
		height: 100dvh;
		transition: padding 0.3s;
	}

	aside {
		align-items: center;
		display: flex;
		flex-direction: column;
		padding: 16px;
	}

	.profile-card {
		align-items: center;
		background: #171717;
		border-radius: 16px;
		display: flex;
		flex-direction: column;
		padding: 16px;
		width: 100%;
	}

	.name {
		font: var(--headline-small);
		margin-top: 12px;
	}

	@media (min-width: 840px) {
		aside {
			left: -300px;
			position: fixed;
			width: 300px;
			transform: translateX(100%);
			transition: transform 0.3s;
		}

		.content {
			padding-left: 300px;
		}
	}

	.profile {
		border-radius: 50%;
	}

	.description {
		flex: 1;
		font: var(--body-large);
	}

	.left-section {
		display: flex;
		align-items: center;
	}

	.title {
		font: var(--title-large);
	}

	footer {
		align-items: center;
		border-top: solid 1px var(--outline-variant);
		display: flex;
		height: 72px;
		padding: 0 16px;
	}
</style>
