---
import { ViewTransitions } from 'astro:transitions';
import '../styles/styles.css';
import '../styles/ripple.css';
import '../styles/corner.css';
import '../styles/colors.css';
import '../styles/a11y.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<style is:global>
			*,
			*::before,
			*::after {
				box-sizing: border-box !important;
			}

			body,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			p,
			ol,
			ul {
				margin: 0;
				padding: 0;
				font-weight: normal;
			}

			body {
				background: #0a0a0a;
				color: #fff;
				min-height: 100dvh;
			}

			a[class] {
				color: inherit;
				text-decoration: none;
			}

			button {
				all: unset;
			}

			img,
			picture,
			svg {
				display: block;
				max-width: 100%;
			}
		</style>
	</body>
</html>
